.cardsQuestion, .linkButton {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0;
}

.packInfo {
  color: var(--color-dark-100);
  text-align: center;
}

.addCardButton {
  margin-top: 30px;
}

.menuIcon {
  display: flex;
  align-items: center;

  svg {
    margin-right: 5px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 24px;
}

.modalButton {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.label {
  color: var(--color-dark-100);
}

.deletePackText {
  margin: 18px 0;
  line-height: var(--line-height-m);
}

.myPack {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.ellipse {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 100%;

  svg {
    margin-top: 3px;
    margin-left: 3px;
  }
}

.packName {
  margin-right: 16px;
}

.friendsPack {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.question {
  margin-top: 45px;
  text-align: left;
}

.shots {
  margin-bottom: 35px;
  color: var(--color-dark-100);
}

.rate {
  margin: 12px 0;
}