.cardsPackName {
  text-decoration: none;
}

.select {
  display: flex;
  align-items: center;
}

.pagination { 
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 36px 0;
}

.title {
  margin-bottom: 5px;
}