.paper {
  max-width: 413px;
  margin: 0 auto;
  padding: 33px;

  text-align: center;

  // background-color: var(--color-dark-700);
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.forgot {
  margin-bottom: 69px;
  text-align: right;
}

.text {
  margin: 21px 0 11px;
}