.tabList {
  width: max-content;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px 0 0 2px;
}

.tabTitle {
  padding: 4px 24px;

  &:not(:last-child) {
    border-right: 1px solid var(--color-dark-300);
  }
}

.tabTitle[data-state='active'] {
  background-color: var(--color-accent-500);
  border-color: var(--color-accent-500);
}
